@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        src: local('Nunito Regular'), local('Nunito-Regular'),
        url('../fonts/nunito-v13-latin-regular.woff2') format('woff2'),
        url('../fonts/nunito-v13-latin-regular.woff') format('woff');
        font-display: block;
    }

    body {
        font-family: Nunito, sans-serif, Arial;
        background-color: #f5f6f8;
        color: #1a202c;
    }
}

@layer components {
    .tw-form {
        @apply w-full lg:w-4/5 xl:w-2/3 2xl:w-3/5 mx-auto;
        @apply p-8 md:pt-8 md:pb-10 md:px-16;
        @apply rounded-lg border-dashed border-2 border-gray-300;

        &__text-field {
            @apply bg-white w-full h-40 lg:h-32 py-2 px-3 resize-none;
            @apply text-4.25 text-gray-800 leading-7;
            @apply rounded border border-gray-300;
            @apply transition-colors duration-200 ease-in-out;
            @apply outline-none focus:border-indigo-400 focus:ring-2 focus:ring-indigo-200;

            &--error {
                @apply border-red-400 focus:border-red-400 focus:ring-red-200;
            }
        }

        &__submit-button {
            @apply flex-1 md:flex-none flex justify-center items-center space-x-1 py-2.25 px-5;
            @apply bg-indigo-600 text-white rounded border-0;
            @apply transition-colors duration-300 lg:hover:bg-indigo-500;
            @apply focus:outline-none focus:ring focus:ring-indigo-300;
        }
    }

    .tw-table {
        @apply w-full xl:w-10/12 2xl:w-4/5 mx-auto;
        @apply lg:border lg:shadow-md lg:rounded-lg lg:overflow-hidden;

        &__head__remove-all-button {
            @apply flex items-center h-full text-gray-400 rounded;
            @apply transition-colors duration-200 lg:hover:text-gray-200;
            @apply focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-offset-1 focus:ring-offset-gray-800;
        }

        &__row__remove-item {
            @apply flex items-center space-x-1 py-1.5 px-2 lg:p-0;
            @apply bg-red-100 bg-opacity-30 text-red-600 lg:bg-transparent lg:text-gray-400;
            @apply rounded border border-red-400 lg:border-0;
            @apply transition-colors duration-200 lg:hover:text-gray-500;
            @apply focus:outline-none focus:ring-2 focus:ring-red-300 lg:focus:ring-gray-400 lg:focus:ring-offset-2;
        }
    }
}